@model News.Models.NewsDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @ViewBag.Title

            </h1>
        </div>
    </div>
    

@if (Model.Description != null)
    {
        @:Comments:
        <ul>
            @foreach (var comment in Model.Comments)
            {
                <li>
                    @comment.Text
                    @if (@comment.Author != null)
                    {
                        @: (by @comment.Author)
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p> No Comments</p>
    }

    @*@if (ViewBag.CanEdit)
        {
            @Html.ActionLink("Edit", "Edit", "News", new {id=Model.Id}, new {@class = "btn btn-default"})
            <span></span>
            @Html.ActionLink("Delete", "Delete", "News", new {id = Model.Id}, new {@class = "btn btn-default"})
        }*@

