@model News.Models.NewsViewModel

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            @*<img src="~/images/image1.jpg" width="50%" height="40%" />*@
            <h5>@Model.Title</h5>
            <span class="date">@Model.StartDateTime</span>
            @if (Model.Duration != null)
            {
                <span class="duration">
                    (@Model.Duration.Value.ToString(@"hh\:mm") hours)
                </span>
            }
            @if (Model.Author != null)
            {
                <div class="author"><b>Author:</b> @Model.Author</div><span></span>
            }
            @if (Model.Location != null)
            {
                <div class="location">Location: @Model.Location</div>
            }

            <div id="news-details-@Model.Id">
                @Ajax.ActionLink("Read More....", "NewsDetailsById", "Home",
                    new {id = Model.Id},
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "news-details-" + Model.Id
                    }, new {@class = "btn btn-primary"})
                <img class="" src="~/images/like.png" height="35px;" width="35px;"/><label class="text-info"> @Model.Likes </label>
                </div>            
        </div>        
    </div>
</div>
